.DS_Store
xcuserdata
musichackspace/.vs
musichackspace/build-web/*.data
musichackspace/build-web/imgs*
musichackspace/build-web/fonts.js
musichackspace/build-web/svgs.js
musichackspace/build-web/favicon.ico
*.RPP-bak

